<link rel="stylesheet" href="../../public/css-mystyles/my-styles.css">
<nav class=" navbar navbar-expand-lg navbar-dark bg-success p-3">
    <p class="navbar-brand" id="header">
        SISTEMA DE GERENCIAMENTO DE HORÁRIOS
    </p>
</nav>